<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Modalite d'utilisation MaPyramide.fr </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row">
            <label for="modalites">  Modalités d'utlisation </label> 
            <div style="width: 600px;height: 150px;overflow-y:auto;">
                <p><strong>Modalités d’utilisation</strong></br></br>

                    TOUTE UTILISATION DES PAGES DU SITE WEB «  MA PYRAMIDE ALIMENTAIRE »
                    « MPA » EST ASSUJETTIE AUX MODALITES D’UTILISATION ENONCEES CI-APRES
                    (« modalités d’utilisation » ou « entente » » ou « convention).</br></br>

                    VEUILLEZ LIRE ATTENTIVEMENT LES PRESENTES MODALITES D’UTILISATION : ELLES
                    RENFERMENT DES RENSEIGNEMENTS IMPORTANTS SUR VOS DROITS, VOS RECOURS
                    ET VOS OBLIGATIONS, TELS QUE PREVUS PAR LA LOI, AINSI QUE SUR LES
                    EXCLUSIONS ET LES LIMITATIONS DE NOTRE RESPONSABILITE.</br></br>

                    AG Diététéique (AGD) (Sans but lucratif) est la propriétaire et l’exploitante du site « Ma
                    Pyramide Alimentaire  (MPA) ». </br></br>

                    En cliquant sur le bouton «  J’accepte – Créez mon compte » des modalités d’utilisation, en 
                    complétant le processus d’inscription  et en utilisant le site MPA, vous déclarez que vous avez au 
                    moins 14 ans et que vous avez lu et compris les présentes modalités d’utilisation et que vous
                    convenez être liées par celles-ci. </br></br>

                    Vous ne pourrez remplir votre page « Mon Profil » que si vous avez cliqué sur le bouton 

                    «  J’accepte – Créez mon compte ».</br></br>

                    Les termes « vous » et « utilisateurs » sont interchangeable dans les présentes et renvoient
                    à la personne qui a cliqué sur le bouton «  J’accepte – Créez mon compte »,  et qui a donc
                    complété le processus d’inscription et est donc autorisée à accéder aux services de MPA</br></br>

                    <strong>Utilisation des documents de AG Diététique</strong></br></br>

                    Vous pouvez télécharger ou faire des copies des documents de notre site Web pour votre utilisation
                    personnelles ou à des fins éducatives, sous réserve que le crédit en soit donné a AG Diététique (MPA).
                    S’il apparaît un avis de droit d’auteur veuillez le laisser sur votre copie. Veuillez ne pas modifier
                    nos logos ou nos dessins ni distribuer, publier à nouveau ou afficher nos documents pour mettre en place
                    un autre site Web ou pour servir vos propres fins commerciales, éducatives ou promotionnelles.
                    Si vous le faites sans avoir obtenu au préalable notre consentement écrit, vous contreviendrez à nos
                    droits de propriété intellectuelle. Vous pourrez écrire (Contact a mettre lors de la mise à jour)
                    pour nous demander notre consentement. </br></br>

                    AG Diététique se réserve le droit de vous interdire en tout temps l’accès au site MPA si vous téléchargez,
                    imprimez, reproduisez, transmettez ou distribuez tout ou partie du contenu qui selon notre jugement
                    est incompatible avec une utilisation personnelle à des fins non commerciales du site. </br></br>

                    <strong>Droits d’auteurs</strong></br></br>

                    <strong>AG Diététique</strong>, publie ses documents sous la rubrique « Edition Gradient » « EG » protégés par un code
                    de la propriété intellectuelle. Notre propriété intellectuelle constitue, à notre avis, un élément
                    d’actif très important de notre association et nous la protégeons contre toute utilisation non autorisée
                    d’autrui. Nous utilisons souvent le symbole « EG » pour indiquer notre droit de propriété intellectuelle. </br></br>

                    <strong>Service « Mon Coach » (Non fonctionnel, actuellement en éléboration)</strong></br></br>

                    Lorsque cette fonctionnalité sera disponible, si vous souhaitez utiliser l’option « Mon Coach » afin 
                    qu’un diététicien ou un médecin, vous accompagne dans l’utilisation de MPA, vous pourrez vous rendre,
                    sur le bouton « Trouver un Coach », qui sera actif.
                    Pour être accepté comme coach, le diététicien aura dû compléter une formation auprès de MPA et sera accrédité par MPA. </br></br> 

                    Une fois que vous aurez choisi un coach accrédité par MPA, (dans la liste des diététiciens accrédités par MPA,
                    le plus proche de chez vous), il faudra que vous l’autorisiez expressément à accéder aux renseignements de
                    votre profil. Votre coach ne pourra pas accéder à vos renseignements personnels sans votre autorisation et
                    sera tenu de se conformer à la politique sur la protection de la confidentialité qui fait partie intégrante du présent site. </br></br>

                    Lorsque vous aurez autorisé votre coach à accéder à vos renseignements personnels en cliquant sur le bouton
                    « Je consens » sur le site MPA, votre coach passera en revue vos différents renseignements et pourra vous faire
                    des suggestions ainsi que vous donner des conseils et des stratégies pour vous aider à atteindre vos objectifs.
                    Cependant, vous serez seul responsable de l’utilisation de votre coach et pourrez mettre fin en tout temps à son
                    utilisation. Pour ce faire il vous suffira de cliquer sur le bouton « Retirer » à côté du nom du coach dans le
                    module mon Coach du site MPA. </br></br>

                    <strong>Suppression de contenu</strong></br></br>

                    AG Diététique, aura le droit, mais non pas l’obligation, selon ses propres critères (non discutables) de surveiller
                    le contenu fourni par les utilisateurs afin d’établir si les présentes modalités d’utilisation et les règles de
                    fonctionnement établies par AG Diététique sont respectées, et ce, en vue de se conformer à la loi, à un règlement
                    ou une demande émanant d’un organisme gouvernemental ou à toute autre fin commerciales raisonnable. </br></br>

                    <strong>Interdiction d’utiliser le site MPA à des fins commerciales</strong></br></br>

                    Il vous est interdit d’utiliser le service MPA ou toute partie des documents se trouvant dans le site à des fins
                    commerciales ou aux fins de démarchage, ou pour lancer des appels en faveur d’œuvres de bienfaisance ou pour
                    des pétitions pour obtenir des signatures, à moins que MPA n’ait au préalable, approuvé de tels usages.
                    Autrement dit, il ne doit y avoir ni publicité, ni promotion à des fins commerciales. </br></br>

                    <strong>Modifications ou suppression de renseignements de votre compte ou de préférences.</strong> </br></br>

                    Vous pouvez modifier vos renseignements personnels en tout temps en visitant la plage « Mon profil »,
                    en cliquant sur le lien « Mon Compte ». </br></br>

                    Votre mot de passe MAP est personnel et vous ne devez le partager avec quiconque. </br></br>

                    Vous décidez la façon dont AG Diététique communique avec vous en visitant la page « Mon Profil » et cliquant
                    sur le lien « Mon Compte » et en choisissant le type de communication que vous souhaitez recevoir de MPA. </br></br>

                    Pour supprimer votre compte, vous devez communiquer avec AG Diététique (<strong>adresse communiquée lorsqu’elle sera active</strong>)
                    et en indiquant  « Suppression de MPA » dans l’objet du courriel. La suppression prendra cinq à dix jours ouvrables. </br></br>

                    <strong>Garantie et limitation de responsabilité</strong></br></br>

                    Les disciplines scientifiques est médicales connaissent une évolution permanente. Toute nouvelle recherche fondamentale
                    ou clinique, toute nouvelle donnée juridique, économique et sociale peuvent amener à modifier les concepts et les
                    stratégies diagnostiques et thérapeutiques. Les auteurs de ce site ont tout mis en œuvre pour fournir à l’utilisateur 
                    une information, tenant compte des données les plus actuelles et les plus généralement admises au moment de la mise
                    en route de ce site. Ils ne peuvent, cependant, garantir que ces informations sont complètes et totalement dénuées
                    d’erreurs. L’utilisateur est invité à confronter l’information de ce site à d’autres sources. </br></br> 

                    Ni les auteurs du site, ni les médecins, ni les diététiciens consultés par l’intermédiaire du site ne font de
                    déclarations, ni n’offrent de garanties ou de conditions de quelque type que ce soit, qu’elles soient expresses,
                    implicites ou prévues par la loi, notamment des garanties ou des conditions implicites quant à la qualité marchande
                    ou à l’adaptation à un usage particulier, des garanties, quant à l’exactitude ou à l’exhaustivité du site MPA ou
                    de tout autre document qui peut être consulté (au moyen d’un hyperlien direct ou indirect ou de toute autre façon)
                    par l’intermédiaire du site MPA ou quant-aux résultats devant être obtenus par l’accès à ceux-ci ou par l’utilisation de ceux-ci. </br></br>

                    AG Diététique a consulté des sources jugées fiables afin de fournir des renseignements complets et généralement
                    conformes aux normes acceptées au moment de la publication. Toutefois, AG Diététique ou les diététiciens accrédités
                    (coach) ne garantissent pas que les renseignements contenus dans le site MPA sont à tous égards exacts et exhaustifs
                    et ils ne sont aucunement responsables des erreurs ou des omissions, ni des résultats obtenus par suite de l’utilisation
                    de ces renseignements. </br></br>

                    NI AG DIETETIQUE, NI AUCUN DES COACH CONSULTES PAR L’INTERMEDIAIRE DU SITE N’ENGAGERONT LEUR RESPONSABILITE ENVERS
                    VOUS OU UNE AUTRE PERSONNE EN RAISON, D’INEXACTITUDES, DE RETARDS, D’INTERRUPTIONS DE SERVICE, D’ERREURS OU D’OMISSIONS,
                    QU’ELLE QU’EN SOIT LA CAUSE, NI A L’EGARD DES DOMMAGES QUI EN DECOULENT OU PAR SUITE DE BIENS OU DE SERVICES OFFERTS
                    PAR UNE TIERCE PARTIE LIEE AU SITE MPA. </br></br>

                    <strong>Généralités</strong></br></br>

                    La présente convention constitue la totalité de l’entente intervenue entre vous et AG Diététique relativement au site MPA.
                    La partie coach est cependant en élaboration. Toute omission de la part de AG Diététique d’insister sur une stricte
                    conformité à une modalité donnée de la présente convention ne saurait être interprétée comme une renonciation à toute
                    omission future de se conformer. </br></br>

                    Cette entente entre vous et AG Diététique est à titre personnel et vous ne pouvez pas céder vos droits ou vos obligations
                    à quiconque. Si une disposition de la présente convention est invalide ou ne peut être appliquée en vertu des lois applicables,
                    les dispositions restantes continueront d’avoir plein effet. </br></br>

                    Les dispositions de la présente entente en ce qui concerne la propriété et votre utilisation du contenu du site MPA
                    demeureront en vigueur après la résiliation des présentes modalités d’utilisation. </br></br>

                    AG Diététique se réserve le droit de modifier les modalités de la présente convention en affichant un avis sur le site
                    MPA ou à son gré, en communiquant directement avec les utilisateurs par courrier électronique ou par voie postale.
                    Si vous continuez à utiliser le site MPA après l’affichage des changements apportés aux présentes modalités d’utilisation,
                    vous serez irréfutablement réputé avoir accepté ces changements.</p>

            </div>
        </div>
    </body>
</html>
